.detailItem {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
    align-items: center;
  }
  
  .detailItem img {
    width: 100%;
    max-height: 500px;
    object-fit: contain; 
    border-radius: 8px;
  }
  

  .infodetailItem {
    margin: auto;
    padding: auto;
    font-size: 1rem;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  

  .detailItem > :last-child {
    align-self: end; 
  } 

 .detailCartButton{
    display: flex;
    justify-content: center;
    align-items: center;
 } 

  .detailCartButton2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 75px;
    text-decoration: none;
 } 