.countCart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.countCart button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countCart button:hover {
    background-color: #4CAF50;
    color:black;
    border: 1px solid black;

}

.countCart p {
    font-size: 24px;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
    margin: 0;
}

.confirmCart button {
    background-color: black;
    color: white;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 75px;
}

.confirmCart button:hover {
    background-color: #45a049;
    color:white;
    border: 1px solid black;
}

